*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html{ 
    scroll-behavior: smooth;
}
header {
    width: 100%; 
    height: 100%;
    background-color: #0f1041;
    font-family: "Jersey 10", serif;
    font-size: 35px;
    padding: 20px;
 
   /*background-image: url("../img/sonicbanner3.jpg");*/
  
    min-height: 100%;

    
 }

 p{
  font-size: 35px;
 font-family: "Jersey 10", serif;
  text-align:center;

}

 body{ 
   
    font-size: 30px;
    line-height: 44px;
    color: #E4252F;
  
  background-image: url(../img/sonicbanner.png);
   
    background-color: #FDD116;
    text-align: center;
    font-family: "Faster One", serif;
   
 }

 h4{
  font-family: "Racing Sans One", serif;
  font-size: 35px;
  color:#E4252F;
  text-decoration:underline;
  
} 
h2{
text-decoration:underline;
} 

h5{
  font-family: "Racing Sans One", serif;
  font-size:35px;
  } 
  

  nav ul li {
    display: inline-block;
    margin-right: 40px;
    font-size: 35px;
    font-family: "Jersey 10", serif;
  
    

}
nav a{ 
   
  
    color: #ffd325;


    border-radius: 0%;
    text-decoration: none;
}
#soniclogo{ 

  min-width: auto;
}
#soniclogo{ 
  
  width: 100%;
  height:200px;
  background-size: cover;
  background-position: center top;
}

#Beginnings{ 
color: #E4252F;
background-color: #99d1ef;
border-radius: 100px;

}


#Characters{ 
  color: #0066ff;
  background-color: #EF99CA;
  border-radius: 100px;
}
#Favourites{ 
  color: #E4252F;
  background-color: #99d1ef;
  border-radius: 100px;
}

#Facts{ 
  color: #0066ff;
  background-color: #EF99CA;
  border-radius: 100px;
}

#Gallery{ 
  color: #E4252F;
  background-color: #99d1ef;
  border-radius: 100px;
}


.gallery { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
  gap: 41px;
  
}

.pixelgifs{ 
  height: 100px;
  position: relative;
  
}
.sonicpngs{ 
  height: 300px;
 
}

.funfacts{ 
  height: 300px;
  position: relative;
  border: 4px solid #c908ff;
  border-radius: 15%;
  
}


.sonicpics{ 
  height: 350px; 
  border: 4px solid #085eff;
  border-radius: 15%;

}
.tailspics{ 
  height: 350px; 
  border: 4px solid #ffd608;
  border-radius: 15%;
}
.knuxpics{ 
  height: 350px; 
  border: 4px solid #ff0808;
  border-radius: 15%;
}
.amyandrougepics{ 
  height: 350px; 
  border: 4px solid #f300e3;
  border-radius: 15%;
}
.shadowpics{ 
  height: 350px; 
  border: 4px solid #000000;
  border-radius: 15%; 
}
.silverpics{ 
  height: 350px; 
  border: 4px solid #ffffff;
  border-radius: 15%;
}
.blazepics{ 
  height: 350px; 
  border: 4px solid #bd08ff;
  border-radius: 15%;
}




.myart{ 
  position: relative;
}
.beginnings{ 
  height: 350px; 
  border: 4px solid #085eff;
  border-radius: 15%;
}

/*fonts*/
.racing-sans-one-regular {
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .jersey-10-regular {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
  }
  .faster-one-regular {
    font-family: "Faster One", serif;
    font-weight: 400;
    font-style: normal;
  }
