*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html{ 
    scroll-behavior: smooth;
}
header {
    width: 100%; 
    height: 100%;
    background-color: #EF99CA;
    font-family: "Jersey 10", serif;
    font-size: 35px;
    padding: 20px;
    background-image: url("../img/sonicbanner.svg");
    min-height: 100%;
    
 }

 body{ 
   
    font-size: 22px;
    line-height: 44px;
    color: #1C69DD;
    text-shadow: 3px 3px #fd6abd;
    background-color: #FDD116;
    text-align: center;
    font-family: "Faster One", serif;
   
 }


  nav ul li {
    display: inline-block;
    margin-right: 40px;
    font-size: 35px;
    font-family: "Jersey 10", serif;

}
nav a{ 
   
    text-decoration:underline;
    color: #ca000a;
}


/*fonts*/
.racing-sans-one-regular {
    font-family: "Racing Sans One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .jersey-10-regular {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
  }
  .faster-one-regular {
    font-family: "Faster One", serif;
    font-weight: 400;
    font-style: normal;
  }
