#cards{ 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax (200px, 300px));
}

#animated, #hovered{ 
    stroke: blueviolet;
    fill: none;
    stroke-width: 3;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
}
#animated{ 
    animation: tracer 1s linear forwards;
}

/* hovered{ 
animation: tracer 1s ease-in reverse;
}*/ 
#hovered{ 
    animation: tracer 1s ease-in reverse;
}